aside.filters {
}

.filters-desktop {
  display: flex;
  justify-content: center;
  justify-self: center;
  color: #6CC4EE;
}

.filters-desktop ul {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  width: 120%;
}

.filters-desktop h3 {
  margin: 0;
  font-size: 16px;
}

.filters-desktop .genre-filter,
.filters-desktop .year-filter,
.filters-desktop .rating-filter,
.filters-desktop .sort-filter {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters-desktop .genre-filter {
  width: 120px;
}

.filters-desktop .year-filter {
  width: 40px;
  margin-right: 2rem;
}

.filters-desktop .rating-filter {
  width: 54px;
  margin-right: .4rem;
}

.filters-desktop .sort-filter {
  width: 120px;
}

.genre-filter:hover,
.year-filter:hover,
.rating-filter:hover,
.sort-filter:hover {
  cursor: pointer;
}


.filters-desktop .genre-list,
.filters-desktop .year-list,
.filters-desktop .rating-list,
.filters-desktop .sort-list {
  position: absolute;
  height: 0;
  top: 50px;
  overflow: hidden;
  transition: .2s;
  background: #fff;
}

.filters-desktop .genre-list {
  left: -12px;
}

.filters-desktop .year-list {
  left: -4px;
}

.filters-desktop .rating-list {
  left: -6px;
}

.filters-desktop .sort-list {
  left: -12px;
}

.filters-desktop .genre-list.deployed,
.filters-desktop .year-list.deployed,
.filters-desktop .rating-list.deployed,
.filters-desktop .sort-list.deployed {
  height: 150%;
  overflow-y: scroll; 
}

.filters-desktop li {
  z-index: 9;
  font-size: 14px;
  background: #fff;
}

.filters-desktop button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin: 1rem;
  align-self: center;
  background: #6CC4EE;
  color: #fff;
  width: 75px;
  height: 30px;  
  border-radius: 15px;
  border: none;
  transition: .3s;
  outline: none;
}

.filters-desktop button:hover {
  cursor: pointer;
  color: #6CC4EE;
  background: #fff;
}

.filters-mobile {
  width: 100vw;
  display: none;
  transition: .4s;
  position: absolute;
  background: #fff;
  z-index: 9;
}


@media (max-width: 510px) {
  .filters-desktop {
    display: none;
  }

  .filters-mobile {
    display: block;
    top: 0;
    left: -200%;
  }

  .filter-wrapper.true .filters-mobile {
    left: 0;
  }
}