aside.filters {
}

.filters-desktop {
  display: flex;
  justify-content: center;
  justify-self: center;
  color: #6CC4EE;
}

.filters-desktop ul {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  width: 120%;
}

.filters-desktop h3 {
  margin: 0;
  font-size: 16px;
}

.filters-desktop .genre-filter,
.filters-desktop .year-filter,
.filters-desktop .rating-filter,
.filters-desktop .sort-filter {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters-desktop .genre-filter {
  width: 120px;
}

.filters-desktop .year-filter {
  width: 40px;
  margin-right: 2rem;
}

.filters-desktop .rating-filter {
  width: 54px;
  margin-right: .4rem;
}

.filters-desktop .sort-filter {
  width: 120px;
}

.genre-filter h3:hover,
.year-filter h3:hover,
.rating-filter h3:hover,
.sort-filter h3:hover {
  cursor: pointer;
}

.year-list li:hover {
  cursor: pointer;
}


.filters-desktop .genre-list,
.filters-desktop .year-list,
.filters-desktop .rating-list,
.filters-desktop .sort-list {
  position: absolute;
  height: 0;
  top: 50px;
  overflow: hidden;
  transition: .3s;
  background: #fff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.filters-desktop .genre-list {
  left: -12px;
}

.filters-desktop .year-list {
  left: -4px;
}

.filters-desktop .rating-list {
  left: -6px;
}

.filters-desktop .sort-list {
  left: -12px;
}

.filters-desktop .genre-list.deployed,
.filters-desktop .year-list.deployed,
.filters-desktop .rating-list.deployed,
.filters-desktop .sort-list.deployed {
  height: 200%;
  overflow-y: scroll; 
}

.filters-desktop li {
  list-style: none;
  z-index: 9;
  font-size: 14px;
  background: #fff;
}

.filters-desktop button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin: 1rem;
  align-self: center;
  background: #6CC4EE;
  color: #fff;
  width: 75px;
  height: 30px;  
  border-radius: 15px;
  border: none;
  transition: .3s;
  outline: none;
}

.filters-desktop button:hover {
  cursor: pointer;
  color: #6CC4EE;
  background: #fff;
}

/*-- MOBILE MODAL WINDOW --*/

.filters-mobile {
  width: 100vw;
  height: 100vh;
  display: none;
  transition: .4s;
  position: absolute;
  background: #fff;
  z-index: 9;
}

.filters-mobile li {
  list-style: none;
  padding-right: 20px;
  width: 150px;
}

.filters-mobile li:hover {
  cursor: pointer;
}

.filters-mobile .genre-filter,
.filters-mobile .year-filter,
.filters-mobile .rating-filter,
.filters-mobile .sort-filter {
  color: #6CC4EE;
  margin: auto;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters-mobile .genre-list.deployed,
.filters-mobile .year-list.deployed,
.filters-mobile .rating-list.deployed,
.filters-mobile .sort-list.deployed {
  z-index: 99;
  height: 500%;
  overflow-y: scroll; 
}

.filters-mobile button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin: 1rem auto;
  align-self: center;
  background: #6CC4EE;
  color: #fff;
  width: 75px;
  height: 30px;  
  border-radius: 15px;
  border: none;
  transition: .3s;
  outline: none;
}

.filters-mobile .modal-buttons {
  margin: 0 auto;
  width: 200px;
  display: flex;
  justify-content: space-between
}

.filters-mobile button:hover {
  cursor: pointer;
  color: #6CC4EE;
  background: #fff;
}

.modal-filter-label {
  color: #6CC4EE;
  text-align: center;
  font-size: 20px;
}

/* -- MODAL BUTTON CLOSE -- */
.close-modal-btn-wrapper {
  position: absolute;
  right: .8rem;
  top: .8rem;
}

.close-modal-btn {
  height: 25px;
  width: 25px;
  transition: .3s;
}

.close-modal-btn-wrapper:hover .close-modal-btn {
  transform: rotate(90deg);
}

.close-modal-btn-wrapper:hover {
  cursor: pointer;
}


@media (max-width: 510px) {
  .filters-desktop {
    display: none;
  }

  .filters-mobile {
    display: block;
    top: 0;
    left: -200%;
  }

  .filter-wrapper.true .filters-mobile {
    left: 0;
  }

  .filters-mobile .genre-list,
.filters-mobile .year-list,
.filters-mobile .rating-list,
.filters-mobile .sort-list {
  position: absolute;
  height: 0;
  top: 35px;
  left: -40px;
  overflow: hidden;
  transition: .3s;
  background: #fff;
}
}