.movies-list {
  height: 100%;
  display: grid;
  grid-template-rows: 70px 1fr 50px;
}

.movies-wrapper {
  align-self: center;
  position: relative;
  display: flex;
}

.movies-stripe {
  position: fixed;
  height: 120px;
  width: 100%;
  align-self: center;
  background: #6CC4EE;
  z-index: 0;
}

.single-movie-wrapper {
  position: relative;
  margin: 0 33px;
  z-index: 1;
}

.single-movie-wrapper img {
  height: 298px;
  width: 200px;
}

.single-movie-wrapper .favorite-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  outline: none;
}

.single-movie-wrapper .movie-poster-text {
  position: absolute;
  top: 300px;
  left: 0;
  right: 0;
}

.single-movie-wrapper h2,
.single-movie-wrapper h3 {
  text-align: center;
}

.single-movie-wrapper h2 {
  font-size: 18px;
}

/* -- MOVIE SCROLL FOOTER -- */

.movies-list footer {
  position: relative;
  width: 100vw;
}

.movies-list footer .footer-wrap {
  /*border-top: 2px solid #d1d1d1;*/
  position: fixed;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.logo-footer-section {
  display: flex;
  margin-left: 1rem;
}

.movies-list footer .logo {
  position: relative;
  top: 0;
  left: 0;  
  margin-left: 1rem;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid #6CC4EE;
}

.movies-list footer .logo h3 {
  top: -21px;
  left: -21px;
  font-size: 12px;
}

.movies-list footer h1 {
  margin-left: 2rem;
  font-size: 12px;
  text-align: center;
  color: #6CC4EE;
}

.movies-list footer h1 span {
  background: #6CC4EE;
  color: #fff;
}

.scroll-social-wrapper {
  display: flex;
  width: 300px;
  margin: auto;
  height: 50px;
  align-items: center;
  justify-content: center;  
}

.scroll-social {
  display: block;
  margin: 2rem auto;
  color: #6CC4EE;
  font-size: 25px;
  transition: .2s;
}

.scroll-social:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.footer-copyright {
  color: #6CC4EE;
  margin-right: 2rem;
  font-size: 10px;
}

/* -- MOVIE SCROLL HEADER -- */
.movies-list header .header-wrapper {
  position: fixed;
  width: 100vw;
  display: grid;
  grid-template-columns: 190px 1fr 300px;
  align-items: center;
  height: 70px;
}

.movies-list header .search-form {
  justify-self: end;
  margin-right: 1rem;
}

.movies-list header .login-logout-btn,
.movies-list header .show-favorites {
  background: #6CC4EE;
  border: none;
  width: 75px;
  height: 30px;
  border-radius: 15px;
  margin-left: 1rem;
  color: #fff;
  font-weight: 700;
  transition: .3s;
}

.movies-list header .login-logout-btn:hover,
.movies-list header .show-favorites:hover {
  cursor: pointer;
  color: #6CC4EE;
  background: #fff;
}

/* -- MOVIE FAVORITE BUTTON -- */
.favorite-btn {
  border: none;
  height: 20px;
  width: 20px;
  background: url(./images/star-grey.png);
  background-size: contain;
  transition: .3s;
}

.favorite-btn:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.favorite-btn.favorited {
  background: url(./images/star-favorited.png);
  background-size: contain;
}

@media (max-width: 1080px) {
  .movies-list {
    grid-template-rows: 140px 1fr 50px;
  }
  .movies-list header .header-wrapper {
    grid-template-columns: 1fr 1fr;
    height: 220px;
  }
  .movies-list header aside {
    grid-column: 1/3;
    grid-row: 2;
  }

  header section .left-side-header-btns,
  .search-form {
    width: 300px;
    margin-top: 1rem;
  }
}

@media (max-width: 750px) {
  .movies-list {
    height: 100%;
    display: grid;
    grid-template-rows: 140px 1fr;
  }
  footer {
    display: none;
  }
}

@media (max-width: 615px) {
  aside.filters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 120px;
  }
  aside.filters section {
    margin: 0 auto;
    padding: 0;
  }

  .rating-slct {
    text-align: center;
  }
  .filters .filter-submit {
    grid-column: 2;
  }
  .filters .filter-clear {
    grid-column: 3;
  }
  .movies-list header .header-wrapper {
    grid-template-columns: 190px 1fr;
  }
  header section .left-side-header-btns {
    width: 190px;
  }
  .genre-list,
  .year-list,
  .rating-list,
  .sort-list {
    top: 35px;
  }
  .genre-list.deployed,
  .year-list.deployed,
  .rating-list.deployed,
  .sort-list.deployed {
    height: 200%;
  }
}