.triangle {
  position: relative;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 60px solid #6CC4EE;
  background: transparent;
  animation: spin-triangle 5s infinite;
}

.triangle h3 {
  top: -55px;
  left: -63px;
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  font-weight: 800;
  color: #fff;
  animation: spin-text 5s infinite;
}

@keyframes spin-text {
  0% {
    transform: rotateY(0)
  }
  20% {
    transform: rotateY(-180deg)
  }
  40% {
    transform: rotateY(-180deg)
  }
  60% {
    transform: rotateY(-360deg)
  }
  80% {
    transform: rotateY(-360deg)
  }
  100% {
    transform: rotateY(-360deg)
  }
}

@keyframes spin-triangle {
  0% {
    transform: rotateY(0)
  }
  20% {
    transform: rotateY(0)
  }
  40% {
    transform: rotateY(180deg)
  }
  60% {
    transform: rotateY(180deg)
  }
  80% {
    transform: rotateY(360deg)
  }
  100% {
    transform: rotateY(360deg)
  }
}