.login-page {
  position: relative;
  display: grid;
  height: 100vh;
}

.right-side {
  position: absolute;
  top: 0;
  right: 0;
  background: #6CC4EE;
  height: 100vh;
  width: 50%;
}

.login-signup-wrapper {
  position: relative;
  top: 0;
  bottom: 0;
  width: 350px;
  height: 500px;
  margin: auto;
  padding: 0;
  box-shadow: 0px 0px 5px #D1D1D1;
  background: #fff;
  z-index: 1;
  overflow: hidden;
}

.login-footer {
  position: absolute;
  display: flex;
  bottom: .5rem;
  left: .5rem;
}

.login-footer p {
  margin: 1rem;
  color: #6CC4EE;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.login-copyright {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  bottom: .5rem;
  right: 1.5rem;
  color: #fff;
  font-weight: 700;
}

.login-page *:focus {
  outline: none;
}

.login-page .login-submit:hover,
.login-page .sign-up-button:hover,
.login-page .skip-login:hover,
.login-page .create-user-btn:hover,
.login-page .skip-sign-up-button:hover {
  cursor: pointer;
}

.login-form-logo-wrapper .logo {
  display: block;
  position: relative;
  width: 60px;
  margin: 0 auto 3rem;
  display: none;
}



@media (max-width: 550px) {
  .login-form,
  .sign-up-form {
    padding: 0;
  }
  .login-signup-wrapper {
    box-shadow: none;
    padding-top: 0;
  }
  .right-side {
    display: none;
  }
  .login-page footer {
    display: none;
  }

  .login-form h1,
  .sign-up-form h1 {
    margin-bottom: 0;
  }

  .login-form h4,
  .sign-up-form h4 {
    display: none;
  }
  .login-page .logo {
    display: none;
  }
  .login-form-logo-wrapper .logo {
    display: block;
  }

}
